mixin balance()
    .balance
        .balance__body.container 
            h2.balance__title Финансы 
            .balance__content 
                .balance__item
                    p.balance__item-subtitle 1.200 рублей
                    .balance__item-texts    
                        p.balance__item-p Баланс аккаунта
                        p.balance__item-text Последние списание: 903 рубля
                .balance__item
                    p.balance__item-subtitle 920 рублей
                    .balance__item-texts    
                        p.balance__item-p Заморожено
                        p.balance__item-text 2 задания в работе
                .balance__buttons 
                    button(type="button").balance__btn.open-popup Пополнить
                    button(type="button").balance__btn.grey Отчет
            h2.balance__title История операции
            .balance__wrapper 
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Списание #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
                .balance__row
                    .balance__text  
                        p.balance__p 3.04.2022 #[br] #[span 18:51]
                    .balance__text 
                        p.balance__p Поплнение счета #[br] #[span 24878940001]
                    .balance__text 
                        p.balance__p Сумма #[br] #[span 5.200 руб]
