mixin news()
    .news   
        .news__body.container 
            h2.news__title Информационный блок
            p.news__desc Краткое описание страницы на ресурсе - В своём стремлении повысить качество жизни, они забывают, что современная методология разработки предоставляет широкие возможности для поставленных обществом задач! 
            .news__item
                .news__top 
                    h2.news__subtitle Черный список пользователей
                    p.news__p Огромный ассортимент велосипедов в спортивных магазинах ставит в тупик неопытных покупателей. Мы решили помочь в выборе, составив обзор 20 самых популярных моделей.
                .news__row 
                    .news__texts 
                        p.news__text Автор
                        p.news__txt Администрация проекта
                    .news__texts 
                        p.news__text Дата
                        p.news__txt 21.08.2022
                    a(href="#!").news__btn Подробнее
            .news__item
                .news__top 
                    h2.news__subtitle Обновление от 12.09.2022
                    p.news__p Огромный ассортимент велосипедов в спортивных магазинах ставит в тупик неопытных покупателей. Мы решили помочь в выборе, составив обзор 20 самых популярных моделей.
                .news__row 
                    .news__texts 
                        p.news__text Автор
                        p.news__txt Администрация проекта
                    .news__texts 
                        p.news__text Дата
                        p.news__txt 21.08.2022
                    a(href="#!").news__btn Подробнее
            .news__item
                .news__top 
                    h2.news__subtitle Число загрузок Mountain Lion превысило
                    p.news__p Огромный ассортимент велосипедов в спортивных магазинах ставит в тупик неопытных покупателей. Мы решили помочь в выборе, составив обзор 20 самых популярных моделей.
                .news__row 
                    .news__texts 
                        p.news__text Автор
                        p.news__txt Администрация проекта
                    .news__texts 
                        p.news__text Дата
                        p.news__txt 21.08.2022
                    a(href="#!").news__btn Подробнее
            .news__item
                .news__top 
                    h2.news__subtitle 10 предметов, без которых не обойтись летом
                    p.news__p Огромный ассортимент велосипедов в спортивных магазинах ставит в тупик неопытных покупателей. Мы решили помочь в выборе, составив обзор 20 самых популярных моделей.
                .news__row 
                    .news__texts 
                        p.news__text Автор
                        p.news__txt Администрация проекта
                    .news__texts 
                        p.news__text Дата
                        p.news__txt 21.08.2022
                    a(href="#!").news__btn Подробнее