mixin popup()
    .popup 
        .popup__close.popup-bg 
        .popup__content 
            button(type="button").popup__close.popup__close-btn 
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.74172 6.2539L13.3272 0.668448L14.5684 1.90966L8.98293 7.49512L14.5684 13.0806L13.3272 14.3218L7.74172 8.73633L2.15626 14.3218L0.915047 13.0806L6.5005 7.49512L0.915047 1.90966L2.15626 0.668447L7.74172 6.2539Z" fill="#2E363E"/>
                </svg>
            h2.popup__title Заголовок формы
            .popup__row 
                .popup__wrapper
                    p.popup__subtitle Дата мероприятия:
                    .popup__input
                        input(type="text" placeholder="Дата") 
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66095 5.01346H5.19817V4.28209H3.73499V6.47624H15.4373V4.28209H13.9746V5.01346H12.5118V4.28209H6.66095V5.01346ZM15.4373 7.93902H3.73499V15.253H15.4373V7.93902ZM12.5118 2.81926H6.66095V2.08789H5.19817V2.81926H3.73524C2.92737 2.81926 2.27246 3.47417 2.27246 4.28205V15.2529C2.27246 16.0608 2.92737 16.7157 3.73524 16.7157H15.4375C16.2454 16.7157 16.9003 16.0608 16.9003 15.2529V4.28205C16.9003 3.47417 16.2454 2.81926 15.4375 2.81926H13.9746V2.08789H12.5118V2.81926ZM7.39206 10.8646H5.92928V9.40179H7.39206V10.8646ZM8.85499 10.8646H10.3178V9.40179H8.85499V10.8646ZM13.2435 10.8646H11.7807V9.40179H13.2435V10.8646ZM5.92928 13.7902H7.39206V12.3274H5.92928V13.7902ZM10.3178 13.7902H8.85499V12.3274H10.3178V13.7902Z" fill="#2E363E"/>
                            </g>
                        </svg>
                .popup__wrapper
                    p.popup__subtitle Наименование компании:
                    .popup__input
                        input(type="text" placeholder="Имя компании") 
                        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.73272 2.81934H10.6583C11.4662 2.81934 12.1211 3.47425 12.1211 4.28212V5.01351H15.0466C15.8545 5.01351 16.5094 5.66842 16.5094 6.47629V14.5216C16.5094 15.3295 15.8545 15.9844 15.0466 15.9844H3.34437C2.5365 15.9844 1.88159 15.3295 1.88159 14.5216V6.47629C1.88159 5.66842 2.5365 5.01351 3.34437 5.01351H6.26994V4.28212C6.26994 3.47425 6.92485 2.81934 7.73272 2.81934ZM3.34445 14.5216V11.596H8.46412V12.3274H9.9269V11.596H15.0467V14.5216H3.34445ZM9.9269 10.1332H15.0467V6.47629L12.1211 6.47629H6.26994L3.34445 6.47629V10.1332H8.46412H9.9269ZM10.6584 4.28216V5.01355H7.7328V4.28216H10.6584Z" fill="#2E363E"/>
                        </svg>
            .popup__wrapper
                p.popup__subtitle Наименование компании:
                .popup__input
                    input(type="text" placeholder="Имя компании") 
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.73272 2.81934H10.6583C11.4662 2.81934 12.1211 3.47425 12.1211 4.28212V5.01351H15.0466C15.8545 5.01351 16.5094 5.66842 16.5094 6.47629V14.5216C16.5094 15.3295 15.8545 15.9844 15.0466 15.9844H3.34437C2.5365 15.9844 1.88159 15.3295 1.88159 14.5216V6.47629C1.88159 5.66842 2.5365 5.01351 3.34437 5.01351H6.26994V4.28212C6.26994 3.47425 6.92485 2.81934 7.73272 2.81934ZM3.34445 14.5216V11.596H8.46412V12.3274H9.9269V11.596H15.0467V14.5216H3.34445ZM9.9269 10.1332H15.0467V6.47629L12.1211 6.47629H6.26994L3.34445 6.47629V10.1332H8.46412H9.9269ZM10.6584 4.28216V5.01355H7.7328V4.28216H10.6584Z" fill="#2E363E"/>
                    </svg>

