// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: Montserrat;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
body{
    &.hidden{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
        background: #EFF6FD;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}